<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cinfly.mapper.BooksMapper">


    <select id="pageQuery" resultType="com.cinfly.entity.Books">
        select books.*,categories.name categoryName from books left join categories on books.category_id=categories.id
        <where>
            <if test="ew != null and ew.sqlSegment != null">
                ${ew.sqlSegment}
            </if>
        </where>
    </select>
</mapper>
